{% extends 'base.html' %}
{% load static %}

{% block extraStyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bienvenida_style.css' %}"/>
{% endblock %}
{% load crispy_forms_tags %}
{% block contenido %}
<div class="row my-5 d-flex flex-row-reverse">
    <a href="{% url 'index' %}" class="btn-big-dark bg-purple mr-3">Volver</a>
</div>
<div class="row d-flex flex-row my-5">
    <div class="col">
        <h1 class="main-font jumbo-font">Boon</h1>
        <h3 class="auxiliary-font title-font">Ayuda a ayudar</h3>
        <img class="side-img" src="static/img/Boon_logo_main.png" alt="support">
    </div>
    <div class="col">
        <h1 class="display-4">Ingresa a la cuena de tu agrupación</h1>
        <hr class="my-4">
        <div class="d-inline">
            <form action="{% url 'acceso_agrupacion' %}" method="post">
                    {% csrf_token %}
                <div class="form-group">
                    {{ group_form.email|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ group_form.password|as_crispy_field  }}
                </div>
                <button class="btn-big-dark bg-purple mr-3" type="submit">Ingresar</button>
            </form> 
        </div>
    </div>
</div>
{% endblock %}