* {
    padding:0;
    margin:0;
}

.main-font {
    font-family: 'Comfortaa', cursive;
}

.secondary-font {
    font-family: 'Roboto', sans-serif;
}

.auxiliary-font {
    font-family: 'Indie Flower', cursive;
}

.jumbo-font {
    font-size: 14vh;
    font-weight: bold;
    text-shadow: 1px 1px 5px #563d7c;
}

.very-big-font {
    font-size: 10vh;
}

.big-font {
    font-size: 8vh;
}

.title-font {
    font-size: 6vh;
}

.sub-title-font {
    font-size: 4vh;
}

.gen-font {
    font-size: 2.5vh;
}

.small-font {
    font-size: 2vh;
}

.fondo {
    background-image: linear-gradient(145deg, rgba(114, 188, 231, 0.479) 0%,rgba(115, 119, 110, 0.425) 100%),linear-gradient(75deg, rgb(33, 138, 184),rgb(0, 241, 141));
}

.header-bg {
    width: 100vw;
    background-color: #17C3B2;
    padding: 2vw;
    text-shadow: 1px 1px #474f50;
}

.bg-floral-white {
    background: #FEF9EF;
}

.bg-dark-slate-grey {
    background: #3E4E50;
}

.bg-light-sea-green {
    background:#17C3B2;
}

.bg-purple {
    background: #563d7c;
}

.color-floral-white {
    color: #FEF9EF;
}

.color-dark-slate-grey {
    color: #3E4E50;
}

.color-light-sea-green {
    color:#17C3B2;
}

.color-purple {
    color: #563d7c;
}

.btn-big-dark {
      width:fit-content;
      padding:1vw;
      border-radius: 1vw;
      font-size: 1.2vw;
      color: #FEF9EF;
      text-decoration: none;
}
.btn-med-dark {
    width:fit-content;
    padding:1vw;
    border-radius: 1vw;
    font-size: 1vw;
    color: #FEF9EF;
    text-decoration: none;
}

.btn-big-dark:hover, .btn-med-dark:hover {
    color: #3E4E50;
    background-color:#17C3B2;
    text-decoration: none;
}
.btn-selected{
    color: #3E4E50;
    background-color:#17C3B2;
}

aside {
    height: 100vh;
    width: 12vw;
    background-color:#3E4E50;
}

.menu-img {
    display:block;
    width:5vw;
    height:5vw;
}

.perfil-img {
    display:block;
    width:15vw;
    height:15vw;
}

/* .row {
    border: 1px solid red;
} */

