{% extends 'base.html' %}
{% load static %}

{% block extraStyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bienvenida_style.css' %}"/>
{% endblock %}

{% block contenido %}
    <div class="row my-5 d-flex flex-row-reverse">
        <a href="{% url 'acceso' %}" class="btn-big-dark bg-purple mr-3">Ingresa a tu cuenta</a>
        <a href="{% url 'registro' %}" class="btn-big-dark bg-purple mr-3">Registrate</a>
    </div>
    <div class="row d-flex flex-row my-5">
        <div class="col">
            <h1 class="main-font jumbo-font my-5">Boon</h1>
            <h3 class="auxiliary-font title-font">Ayuda a ayudar</h3>
        </div>
        <div class="col">
            <img class="side-img" src="static/img/Boon_logo_main.png" alt="support">
        </div>
    </div>
    <div class="row mt-5 d-flex flex-row justify-content-center">
        <a href="{% url 'dashboard' %}"><img class="arrow-btn" src="static/img/noun_Arrow_grey.png" alt="arrow">
            <h4 class="text-center">Explorar</h4>
        </a>
    </div>
{% endblock %}
