{% extends 'base.html' %}
{% load static %}

{% block extraStyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'master/css/bienvenida_style.css' %}"/>
{% endblock %}

{% block contenido %}
<div class="row mt-3">
    <div class="col-4 text-center">
        <h1>Boon</h1>
        <h3>Ayuda a ayudar</h3>
    </div>
    <div class="col-8 text-right">
        <a href="/acceso" class="btn btn-primary btn-lg mr-3">Ingresa a tu cuenta</a>
        <a href="/registro" class="btn btn-primary btn-lg mr-3">Registrate</a>
        <a href="/dashboard" class="btn btn-primary btn-lg">Explorar</a>
    </div>
</div>
{% endblock %}
