{% extends 'base.html' %}
{% load static %}

{% block extraStyles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bienvenida_style.css' %}"/>
{% endblock %}

{% block contenido %}
<div class="row my-5 d-flex flex-row-reverse">
    <a href="/" class="btn-big-dark bg-purple mr-3">Volver</a>
    <a href="/acceso" class="btn-big-dark bg-purple mr-3">Ingresa a tu cuenta</a>
</div>
<div class="row d-flex flex-row my-5">
    <div class="col">
        <h1 class="main-font jumbo-font">Boon</h1>
        <h3 class="auxiliary-font title-font">Ayuda a ayudar</h3>
        <img class="side-img" src="static/img/noun_giving_heart_green.png" alt="support">
    </div>
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">form registro</h1>
            <input class="btn-big-dark bg-purple mr-3" href="#" role="button" type="submit" value="Registrarse">
        </div>
    </div>
</div>
{% endblock %}