<aside class="col-1 position-fixed">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/"><img class="menu-img" src="/static/img/Boon_logo_heart.png" alt="support"></a>
        </li>
        {% if request.session.id %}
        <li class="nav-item">
          <p class="lead">Hola, {{ usuario.nombre }}</p>
        </li> 
        {% elif request.session.idagrupacion %}   
        <li class="nav-item">
          <p class="lead">Hola, {{ agrupacion.nombre }}</p>
        </li> 
        {% endif %}       
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'dashboard' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categorías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ubicación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>      
        {% if request.session.id or request.session.idagrupacion %}
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link">Salir</a>
        </li>     
        {% endif %}
      </ul>
</aside>