<aside class="col-1 position-fixed">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/"><img class="menu-img" src="/static/img/Boon_logo_heart.png" alt="support"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'dashboard' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categorías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ubicación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item">
            <a href="/" class="nav-link btn-big-dark bg-purple btn-med">Volver</a>
        </li>
      </ul>
</aside>