{% extends 'base.html' %}
{% load static %}

{% block encabezado %}
{% endblock %}

{% block menuVertical %}
  {% include "menu.html" %}
{% endblock %}
{% load crispy_forms_tags %}
{% block contenido %}
<div class="col d-flex">
    <div class="row justify-content-center align-items-center">
        <div class="col-8">
            <div class="jumbotron jumbotron-fluid bg-transparent p-5 mt-4">
                <h1 class="main-font title-font">{{ campana.titulo }}</h1>
                {% for ag in agrup %}
                    <a href="{% url 'perfil' id=ag.id %}">{{ ag.nombre }}</a>                  
                {% endfor %}
                <hr class="my-4">
                <p class="secondary-font gen-font"><b>Descripción:</b><br>{{ campana.descripcion }}</p>
                <hr class="my-4">
                <p class="secondary-font gen-font">Nuestra meta es:</p>
                <ul class="secondary-font gen-font ml-5">
                    <li>{{ campana.meta }}</li>
                </ul>
                <p class="secondary-font small-font">Hemos recaudado:</p>
                <p class="lead">{{ campana.recaudacion }}</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                    {% if porcentaje > 0 %}
                    
                    style="width: {{porcentaje}}%"
                    {% endif %}
                    aria-valuenow="{{ porcentaje }}" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <img class="perfil-img" src="/media/{{ campana.imagen }}" alt="{{ campana.nombre }}">
            <button class="btn btn-info bg-purple my-5" id="toggle-btn">Quiero Ayudar!</button>
            <div class="d-inline">
                <div class="position-fixed" id="toggle1" style="visibility: hidden;">
                    <form action="{% url 'agregar_aporte' id=campana.id %}" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-info" type="submit">Aportar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}