{% extends 'base.html' %} 
{% block menuVertical %}
  {% include "menu.html" %}
{% endblock %}
{% load crispy_forms_tags %}
{% block contenido%}
<h1 class="main-font big-font mt-5">{{agrupacion.nombre}}</h1>
<table class="table secondary-font table-striped table-hover table-info">
  <thead class="thead-dark">
    <tr>
      <th>Campañas activas</th>
      <th>Recaudación actual</th>
      <th>Meta</th>
      <th>Nos falta</th>
    </tr>
  </thead>
  <tbody>
    {%for campana in agrupacion.campana_activa.all%}
    <tr>
      <td>
        <a href="{% url 'panel_control_campana'  ids=campana.id %}">{{campana.titulo}}</a>
      </td>
      <td>${{campana.recaudacion}}</td>
      <td>${{campana.meta}}</td>
      {% for key, value in diff.items%} {% if key == campana.titulo%}
      <td>{{value}}</td>
      {% endif%} {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="modal" tabindex="-1" role="dialog" id="modal-edit">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title secondary-font">Editar agrupación</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="{% url 'editar' ids=agrupacion.id %}">
          {% csrf_token %}
          <table>
            {{form|crispy}}
          </table>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<a href="#modal-edit" class="btn btn-warning " data-toggle="modal" data-target="#modal-edit">Editar datos agrupación</a>


<div class="modal" tabindex="-1" role="dialog" id="modal-crear-campana">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title secondary-font">Crear campaña</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'agregar_campana' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <table>
            {{campana_form|crispy}}           
          <button type="submit" class="btn btn-primary">Crear campaña</button>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<a href="#modal-crear-campana" class="btn btn-warning " data-toggle="modal" data-target="#modal-crear-campana">Crear campaña</a>

{% endblock %}