{% extends 'base.html' %} 
{% block menuVertical %}
  {% include "menu.html" %}
{% endblock %}
{% block contenido%}
<div class="row my-5">
  <h1 class="main-font title-font">Aportes a <span class="font-weight-bold font-italic">{{campana.titulo}}</span></h1>
  <h4 class="main-font sub-title-font">Recaudado: ${{campana.recaudacion}} Nuestra meta: ${{campana.meta}}</h4>
</div>
<div class="row">
  <h3 class="secondary-font">Pagos con aprobación requerida</h3>
  <table class="table secondary-font table-striped table-hover table-warning">
  <tr>
    <th>Aporte</th>
    <th>Usuario</th>
    <th>Aprobar/Rechazar</th>
  </tr>
  {% for aporte in campana.aporte_ingresado.all%}
  {% if aporte.aprobado == False%}
  <tr>
    <td>${{aporte.cantidad}}</td>
    <td>{{aporte.usuario.nombre}}</td>
    <td>
    <form action="{% url 'pago_aprobado' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Aprobar">
    <input name="campana_id" type="hidden" value="{{campana.id}}">
    <input name="aporte_id" type="hidden" value={{aporte.id}}>
    </form>
    <a href="">Rechazar</a>
    </td>
  </tr>
  {% endif %}
  {% endfor %}
  </table>
</div>
<div class="row">
  <h3 class="secondary-font">Pagos aprobados</h3>
  <table class="table secondary-font table-striped table-hover table-success">
    <tr>
      <th>Aporte</th>
      <th>Usuario</th>
      <th>Aprobar/Rechazar</th>
    </tr>
    {% for aporte in campana.aporte_ingresado.all%}
    {% if aporte.aprobado == True%}
    <tr>
      <td>${{aporte.cantidad}}</td>
      <td>{{aporte.usuario.nombre}}</td>
      <td>Sin acciones por realizar</td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>
<div class="row">
  <h3 class="secondary-font">Pagos rechazados</h3>
  <table class="table secondary-font table-striped table-hover table-danger">
    <tr>
      <th>Aporte</th>
      <th>Usuario</th>
      <th>Comentarios</th>
    </tr>
    {% for aporte in campana.aporte_ingresado.all%}
    {% if aporte.rechazado == True%}
    <tr>
      <td>${{aporte.cantidad}}</td>
      <td>{{aporte.usuario.nombre}}</td>
      <td>Sin acciones por realizar</td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
  {% endblock %}
</div>






