{% extends 'base.html' %}
{% load static %}

{% block encabezado %}
{% endblock %}

{% block menuVertical %}
  {% include "menu.html" %}
{% endblock %}

{% block contenido %}
<div class="col d-flex">
    <div class="row justify-content-center">
        <div class="jumbotron jumbotron-fluid p-5 mt-4">
            <h1 class="display-4">Nombre Campaña</h1>
            <p class="lead"><b>Descripción:</b><br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, nesciunt cupiditate iure blanditiis, fugiat esse maxime vel tempora sunt mollitia earum molestiae, perspiciatis quia eos doloribus ipsam officia alias nam. Tempore libero voluptatem a.</p>
            <hr class="my-4">
            <p>Necesitamos:</p>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
            <div class="text-right">
                <a class="btn-big-dark bg-purple" href="#" role="button">Quiero Ayudar!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}